---
import PageLayout from "../../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import programs from "../../data/programs.ts";
import { Icon } from "astro-icon/components";

import ourImpactImg1 from "../../assets/images/our-impact/ourImpact1.jpg";
import ourImpactImg2 from "../../assets/images/our-impact/ourImpact2.jpg";
import ourImpactImg3 from "../../assets/images/our-impact/ourImpact3.jpg";
import ourImpactImg4 from "../../assets/images/our-impact/ourImpact4.jpg";
import ourImpactImg5 from "../../assets/images/our-impact/ourImpact5.jpg";
import ourImpactImg6 from "../../assets/images/our-impact/ourImpact6.jpg";
import ourImpactImg7 from "../../assets/images/our-impact/ourImpact7.jpg";
import ourImpactImg8 from "../../assets/images/our-impact/ourImpact8.jpg";
import ourImpactImg9 from "../../assets/images/our-impact/ourImpact9.jpg";
import ourImpactImg10 from "../../assets/images/our-impact/ourImpact10.jpg";
import ourImpactImg11 from "../../assets/images/our-impact/ourImpact11.jpeg";
import ourImpactImg12 from "../../assets/images/our-impact/ourImpact12.jpeg";
import ourImpactImg13 from "../../assets/images/our-impact/ourImpact13.jpeg";
import ourImpactImg14 from "../../assets/images/our-impact/ourImpact14.jpeg";

const carousel = [
  ourImpactImg1,
  ourImpactImg2,
  ourImpactImg3,
  ourImpactImg4,
  ourImpactImg5,
  ourImpactImg6,
  ourImpactImg7,
  ourImpactImg8,
  ourImpactImg9,
  ourImpactImg10,
  ourImpactImg11,
  ourImpactImg12,
  ourImpactImg13,
  ourImpactImg14,
];
---

<PageLayout title="Our Impact">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col gap-32 py-16">
    <section>
      <div
        class="flex items-center justify-center flex-col max-w-screen-xl mx-auto gap-32"
      >
        <div class="flex flex-col items-center gap-8 text-secondary-content">
          <h1 class="text-6xl text-center font-bold">Community Impact</h1>
          <h2 class="text-xl w-full text-center font-extralight">
            Our community outreach began in October 2021 in response to the
            impact of COVID-19. We started by donating 500 pairs of sneakers to
            whānau and rangatahi in need. Through our flagship kaupapa,
            'Outsole', we deepened our understanding of community needs. In
            2022, we expanded our services with two key programs. 'Kumete'
            focuses on mental health and wellbeing, offering empowering wānanga
            and workshops. 'Elevate' is our mentorship program, helping young
            adults build financial acumen and connect with mentors across
            various industries and career paths.
          </h2>
          <div class="flex gap-16 max-md:gap-8">
            {
              programs.map((program) => (
                <Image
                  src={program.logo}
                  alt={program.name}
                  class="w-52 max-md:w-16 object-contain"
                />
              ))
            }
          </div>
        </div>
      </div>
    </section>
    <section>
      <div>
        <div
          class="max-w-screen-2xl mx-auto px-4 flex flex-col gap-32 max-md:gap-16"
        >
          {
            programs.map((program, index) => (
              <div class="grid grid-cols-2 max-md:grid-cols-1 gap-16 place-items-center">
                <Image
                  src={program.image}
                  alt={program.name}
                  class={`w-full h-full object-cover ${index % 2 == 0 ? "md:order-2" : ""}`}
                />
                <div class={`flex flex-col gap-4 text-secondary-content`}>
                  <h1 class="font-bold text-xl">{program.mainHeading}</h1>
                  <p class="text-lg">{program.mainSummary}</p>
                  <h1 class="font-bold text-xl">{program.secondaryHeading}</h1>
                  <p class="text-lg">{program.secondarySummary}</p>
                  <ul class="list-disc">
                    {program.topics.map((topic) => (
                      <li class="ml-8">
                        <span class="font-bold text-sm">{topic.title}:</span>
                        {topic.description}
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <section>
      <div class="carousel carousel-center w-full 2xl:h-[500px] h-96 space-x-4">
        {
          carousel.map((img, i) => (
            <div class="carousel-item">
              <Image
                src={img}
                alt={`work image ${i}`}
                class="object-cover h-full w-96 2xl:w-[500px]"
              />
            </div>
          ))
        }
      </div>
      <div
        class="max-md:hidden flex gap-2 items-center w-full justify-center opacity-75 text-secondary-content"
      >
        <h1 class="italic">scroll using</h1>
        <kbd class="kbd kbd-xs">Shift</kbd> +
        <Icon name="mdi:mouse-scroll-wheel" />
        <h1 class="italic">or</h1>
        <Icon name="lucide:touchpad" />
      </div>
      <div
        class="md:hidden flex gap-2 items-center w-full justify-center opacity-75 text-secondary-content"
      >
        <h1 class="italic">scroll right to see more</h1>
      </div>
    </section>
  </div>
</PageLayout>
