---
import Layout from "../layouts/Layout.astro";
import htmlParser from "../utils/htmlParser";
import { Cloudinary } from "@cloudinary/url-gen";
import { Resize } from "@cloudinary/url-gen/actions";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import config from "../config.json";
import servicesBG from "../assets/images/services/servicesBG.jpg";

import services from "../data/services";

import { getImage } from "astro:assets";

const servicesBGImage = await getImage({ src: servicesBG });

// const landingPageRes = await fetch(
//   "http://elevate-studios.local/wp-json/wp/v2/pages/8"
// );
// const landingPage = await landingPageRes.json();

import programs from "../data/programs.ts";

const needs = [
  {
    name: "Podcast",
  },
  {
    name: "Media",
  },
];

const businessTypes = [
  {
    name: "Personal Brand",
  },
  {
    name: "Corporate",
  },
  {
    name: "Podcast",
  },
];

const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.CLOUDINARY_CLOUD_NAME,
  },
});

const introVideo = cld.video("hero");
const introVideoURL = introVideo.toURL();
---

<Layout title={config.businessName} isAbsolute>
  <section>
    <div
      class="relative mx-auto w-full h-screen flex items-center justify-center flex-col"
    >
      <div
        id="bg-cover"
        class="absolute top-0 left-0 w-full h-full bg-gradient-to-b to-black from-transparent from-10% opacity-0 -z-10"
      >
      </div>
      <video
        id="introVideo"
        autoplay
        loop
        muted
        playsinline
        class="absolute top-0 left-0 w-full h-full object-cover -z-20"
      >
        <source src={introVideoURL} type="video/mp4" />
      </video>
      <div
        class="flex flex-row gap-2 items-center text-center text-8xl max-2xl:text-4xl max-md:text-2xl text-white font-[Blacky] uppercase font-black tracking-wide max-w-screen-2xl mx-auto"
      >
        <h1 class="landing-text tracking-widest opacity-0">Inspire |</h1>
        <h1 class="landing-text tracking-widest opacity-0">Create |</h1>
        <h1 class="landing-text tracking-widest opacity-0">Innovate</h1>
      </div>
    </div>
  </section>
  <section class="bg-secondary py-16">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-4 px-4">
      <h1 class="text-6xl max-md:text-5xl font-bold text-secondary-content">
        Welcome to <br /> Elevate Studios
      </h1>
      <p class="max-w-3xl text-xl text-stone-300">
        {config.description}
      </p>
      <a href="/about-us" class="btn btn-lg w-fit btn-accent">Learn More</a>
    </div>
  </section>
  <section
    class="relative bg-cover bg-center bg-fixed"
    style={`background-image: url(${servicesBGImage.src});`}
  >
    <div
      class="bg-gradient-to-b from-transparent to-primary absolute top-0 left-0 w-full h-full opacity-100 max-md:bg-primary"
    >
    </div>
    <div
      class="max-w-screen-2xl mx-auto flex flex-col items-center gap-16 py-32 px-4"
    >
      <h1
        class="text-center text-4xl max-w-xl w-full font-medium text-primary-content z-50"
      >
        We produce the media so that you can focus on what matters
      </h1>
      <div class="flex flex-row max-md:flex-col max-md:gap-2 gap-8 mx-auto">
        {
          services.map((service) => (
            <a
              href={service.url}
              class={`group transition-colors w-full py-4 px-8 max-md:p-2 overflow-hidden text-center uppercase relative items-center flex flex-col gap-2`}
            >
              <h1 class="z-10 relative font-bold text-primary-content whitespace-pre-line">
                {service.name}
              </h1>
              <Icon
                name={service.icon}
                class="text-8xl group-hover:opacity-90 opacity-50 duration-300 text-primary-content"
              />
            </a>
          ))
        }
      </div>
    </div>
  </section>
  <section class="bg-secondary py-16">
    <div
      class="flex items-center justify-center flex-col max-w-screen-2xl mx-auto gap-16 px-4"
    >
      <div class="flex flex-col items-center gap-8">
        <h1 class="text-6xl text-center text-secondary-content font-bold">
          Community Impact
        </h1>
        <h2
          class="text-4xl max-md:text-2xl max-w-2xl w-full text-center font-extralight text-secondary-content"
        >
          By choosing Elevate Studios, you're not just getting professional
          media services—you're contributing to a greater cause. Take a look at
          our outreach programs.
        </h2>
      </div>
      <div
        class="grid grid-cols-3 gap-16 max-md:gap-8 max-md:grid-cols-1 grid-rows-1 h-full"
      >
        {
          programs.map((program) => (
            <a
              href={program.url}
              class="group flex flex-col gap-8 p-8 max-md:gap-2 max-md:py-2"
            >
              <Image
                src={program.logo}
                alt={program.name}
                class="group-hover:scale-105 group-hover:rotate-3 transition-all w-full object-contain aspect-square object-center"
              />
              <div class="flex flex-col items-center gap-2 p-4 text-primary-content h-full ">
                <h3 class="text-center text-5xl font-bold">{program.name}</h3>
                <p class="text-center text-xl font-extralight">
                  {program.description}
                </p>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
  <section class="py-16 bg-primary" id="contact">
    <div class="flex flex-col max-w-screen-xl mx-auto px-4 gap-16 max-md:gap-8">
      <div class="flex flex-col gap-4 w-full max-md:w-full max-md:order-2">
        <!-- <div class="flex flex-col bg-base-100 rounded-2xl p-4 gap-4">
          <h1 class="text-base-content text-4xl font-bold">Address</h1>
          <ul class="text-base-content text-xl font-medium">
            <li>
              {config.address}
            </li>
          </ul>
        </div> -->
        <!-- <div id="map" class="h-96 w-full"></div> -->
      </div>
      <div class="flex flex-col gap-8 text-base-200">
        <h1 class="text-6xl font-black">Keen to talk? Lets get it!</h1>
        <p class="font-light text-2xl">
          Ready to start your project or have questions about our community
          programs? Reach out today, and let's elevate our stories together.
        </p>
        <form
          name="contact"
          data-netlify="true"
          class="col-span-2 w-full flex flex-col gap-4 max-md:col-span-1"
        >
          <div
            class="grid grid-cols-2 gap-8 max-md:gap-4 w-full max-md:grid-cols-1"
          >
            <div class="flex flex-col gap-4">
              <div class="flex flex-col gap-1">
                <label class="text-xl">Full Name</label>
                <label class="input input-bordered flex items-center gap-2">
                  <Icon name="mdi:user" class="text-3xl" />
                  <input
                    type="text"
                    class="grow text-stone-700"
                    name="name"
                    placeholder="Enter your name..."
                  />
                </label>
              </div>
              <div class="flex flex-col gap-1">
                <label class="text-xl">Email Address</label>
                <label class="input input-bordered flex items-center gap-2">
                  <Icon name="mdi:email" class="text-3xl" />
                  <input
                    type="text"
                    class="grow text-stone-700"
                    name="email"
                    placeholder="Enter your email..."
                  />
                </label>
              </div>
              <div class="flex flex-col gap-1">
                <label class="text-xl">Phone Number</label>
                <label class="input input-bordered flex items-center gap-2">
                  <Icon name="mdi:phone" class="text-3xl" />
                  <input
                    type="text"
                    class="grow text-stone-700"
                    name="phone"
                    placeholder="Enter your phone number..."
                  />
                </label>
              </div>
              <div class="flex flex-col gap-1">
                <label class="text-xl"
                  >What services are you interested in?</label
                >
                <div class="flex flex-wrap gap-2">
                  {
                    needs.map((need) => (
                      <label class="inline-flex items-center">
                        <input
                          type="checkbox"
                          name="services"
                          class="checkbox checkbox-secondary"
                          value={need.name}
                        />
                        <span class="ml-2 text-primary-content">
                          {need.name}
                        </span>
                      </label>
                    ))
                  }
                </div>
              </div>
              <div class="flex flex-col gap-1">
                <label class="text-xl">Business Type</label>
                <div class="flex flex-wrap gap-2">
                  {
                    businessTypes.map((businessType) => (
                      <div class="form-control">
                        <label class="label cursor-pointer gap-2 pl-0">
                          <input
                            type="radio"
                            name="Business Type"
                            value={businessType.name}
                            class="radio radio-secondary"
                          />
                          <span class="label-text text-primary-content">
                            {businessType.name}
                          </span>
                        </label>
                      </div>
                    ))
                  }
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-1">
              <label class="text-xl">Message</label>
              <textarea
                name="message"
                class="textarea text-stone-700 textarea-bordered h-full w-full resize-none"
                placeholder="I want to know more about..."></textarea>
            </div>
          </div>
          <button type="submit" class="btn-accent btn w-fit ml-auto"
            >Submit</button
          >
        </form>
        <div class="flex flex-col rounded-2xl gap-4">
          <ul class="text-base-100 text-xl">
            <li>
              Phone: <a class="link link-hover" href={config.phone.url}
                >{config.phone.name}</a
              >
            </li>
            <li>
              Email: <a class="link link-hover" href={config.email.url}
                >{config.email.name}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  import gsap from "gsap";

  const tl = gsap.timeline();
  tl.to("#bg-cover", {
    opacity: 0.8,
    duration: 1,
    delay: 0.5,
  }).fromTo(
    ".landing-text",
    {
      translateY: "-50%",
    },
    {
      translateY: "0",
      opacity: 1,
      stagger: 0.3,
    },
    "<0.2"
  );
</script>
