---
import Layout from "../layouts/Layout.astro";
import htmlParser from "../utils/htmlParser";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import config from "../config.json";

// const landingPageRes = await fetch(
//   "http://elevate-studios.local/wp-json/wp/v2/pages/8"
// );
// const landingPage = await landingPageRes.json();

const services = [
  {
    name: "Podcast Production",
    description:
      "From concept development to final editing, we help bring your voice to life. Whether you’re a seasoned podcaster or just starting out, we provide the tools and expertise you need to create engaging audio and video content.",
    icon: "mdi:podcast",
    url: "/services/podcast-production",
  },
  {
    name: "Video Production",
    description:
      "Our team specializes in crafting visually compelling stories that resonate with audiences. We work with you to create videos that capture your vision, whether for promotional content, educational purposes, or community engagement.",
    icon: "mdi:video",
    url: "/services/video-production",
  },
];

import outsoleLogo from "../assets/images/outsole.png";
import kumeteLogo from "../assets/images/kumete.png";
import elevateLogo from "../assets/images/elevate.png";

const programs = [
  {
    name: "Outsole",
    description:
      "Empowering local artists and creators through workshops and mentorship opportunities.",
    image: outsoleLogo,
    url: "/programs/outsole",
  },
  {
    name: "Kumete",
    description:
      "Supporting sustainable practices in our community through educational initiatives and collaborative projects.",
    image: kumeteLogo,
    url: "/programs/kumete",
  },
  {
    name: "Elevate",
    description:
      "Providing resources and platforms for underrepresented voices, ensuring everyone has the opportunity to share their story.",
    image: elevateLogo,
    url: "/programs/elevate",
  },
];
---

<Layout>
  <section>
    <div
      class="max-w-screen-2xl mx-auto w-full h-screen flex items-center justify-center flex-col"
    >
      <div class="flex flex-col gap-2 items-center text-center text-8xl">
        <h1>Inspire</h1>
        <h1>Create</h1>
        <h1>Innovate</h1>
      </div>
    </div>
  </section>
  <section class="bg-secondary py-16">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-4 px-4">
      <h1 class="text-6xl font-bold">Welcome to <br /> Elevate Studios</h1>
      <p class="max-w-3xl text-white">
        Based in the heart of Tamaki Makaurau, Elevate Studios is your go-to
        media company specializing in high-quality podcast and video production.
        We believe in the power of storytelling to inspire and connect
        communities, and that's why every project we undertake is driven by our
        commitment to making a positive impact.
      </p>
      <a href="/about-us" class="btn btn-lg w-fit btn-accent">Learn More</a>
    </div>
  </section>
  <section>
    <div
      class="max-w-screen-2xl mx-auto flex flex-col items-center gap-16 py-32 px-4"
    >
      <h1 class="text-center text-4xl max-w-xl w-full">
        We produce the media so that you can focus on what matters
      </h1>
      <div class="flex flex-col gap-4 max-w-lg mx-auto">
        {
          services.map((service) => (
            <a
              href={service.url}
              class={`group hover:bg-accent transition-colors w-full py-16 px-8 max-md:py-8 text-4xl overflow-hidden text-center uppercase relative bg-primary`}
            >
              <h1 class="z-10 relative font-medium">{service.name}</h1>
              <Icon
                name={service.icon}
                class="text-[200px] group-hover:opacity-90 opacity-50 duration-0 text-white absolute -bottom-8 -right-8 rotate-45"
              />
            </a>
          ))
        }
      </div>
    </div>
  </section>
  <section class="bg-secondary py-16">
    <div
      class="flex items-center justify-center flex-col max-w-screen-xl mx-auto gap-16 px-4"
    >
      <div class="flex flex-col items-center gap-8">
        <h1 class="text-6xl text-center text-white">Community Impact</h1>
        <h2
          class="text-xl max-w-2xl w-full text-center font-extralight text-white"
        >
          By choosing Elevate Studios, you're not just getting professional
          media services—you're contributing to a greater cause. Take a look at
          our outreach programs.
        </h2>
      </div>
      <div
        class="grid grid-cols-3 gap-16 max-md:grid-cols-1 grid-rows-1 h-full"
      >
        {
          programs.map((program) => (
            <a
              href={program.url}
              class="group flex flex-col gap-8 bg-white p-8 shadow-2xl"
            >
              <Image
                src={program.image}
                alt={program.name}
                class="group-hover:scale-105 group-hover:rotate-3 transition-all w-full object-contain aspect-square object-center"
              />
              <div class="flex flex-col items-center">
                <h3 class="text-center text-2xl font-bold">{program.name}</h3>
                <p class="text-center text-lg font-extralight">
                  {program.description}
                </p>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
  <section class="py-16">
    <div
      class="grid grid-cols-2 max-md:grid-cols-1 max-w-screen-lg mx-auto px-4 gap-16 max-md:gap-8"
    >
      <div class="flex flex-col gap-4 w-full max-md:w-full max-md:order-2">
        <div class="flex flex-col bg-secondary rounded-2xl p-4 gap-4">
          <h1 class="text-white text-4xl">Contact</h1>
          <ul class="text-white text-xl">
            <li>
              Phone: <a class="link" href={config.phone.url}
                >{config.phone.name}</a
              >
            </li>
            <li>
              Email: <a class="link" href={config.email.url}
                >{config.email.name}</a
              >
            </li>
          </ul>
        </div>
        <div class="flex flex-col bg-secondary rounded-2xl p-4 gap-4">
          <h1 class="text-white text-4xl">Address</h1>
          <ul class="text-white text-xl">
            <li>
              {config.address}
            </li>
          </ul>
        </div>
        <div id="map" class="h-96 w-full"></div>
      </div>
      <div class="flex flex-col gap-8">
        <h1 class="text-6xl">Keen to talk? Lets get it!</h1>
        <p class="font-light text-2xl">
          Ready to start your project or have questions about our community
          programs? Reach out today, and let's elevate our stories together.
        </p>
        <form
          name="contact"
          data-netlify="true"
          class="col-span-2 w-full flex flex-col gap-4 max-md:col-span-1"
        >
          <div
            class="grid grid-cols-2 gap-8 max-md:gap-4 w-full max-md:grid-cols-1"
          >
            <div class="flex flex-col gap-4">
              <div class="flex flex-col gap-1">
                <label class="text-xl">Full Name</label>
                <label class="input input-bordered flex items-center gap-2">
                  <Icon name="mdi:user" class="text-3xl" />
                  <input
                    type="text"
                    class="grow"
                    name="name"
                    placeholder="Enter your name..."
                  />
                </label>
              </div>
              <div class="flex flex-col gap-1">
                <label class="text-xl">Email Address</label>
                <label class="input input-bordered flex items-center gap-2">
                  <Icon name="mdi:email" class="text-3xl" />
                  <input
                    type="text"
                    class="grow"
                    name="email"
                    placeholder="Enter your email..."
                  />
                </label>
              </div>
              <div class="flex flex-col gap-1">
                <label class="text-xl">Phone Number</label>
                <label class="input input-bordered flex items-center gap-2">
                  <Icon name="mdi:phone" class="text-3xl" />
                  <input
                    type="text"
                    class="grow"
                    name="phone"
                    placeholder="Enter your phone number..."
                  />
                </label>
              </div>
            </div>
            <div class="flex flex-col gap-1">
              <label class="text-xl">Message</label>
              <textarea
                name="message"
                class="textarea textarea-bordered h-full w-full resize-none"
                placeholder="I want to know more about..."></textarea>
            </div>
          </div>
          <button type="submit" class="btn-accent btn w-fit ml-auto"
            >Submit</button
          >
        </form>
      </div>
    </div>
  </section>
</Layout>

<script>
  import L from "leaflet";

  var map = L.map("map").setView([-36.85, 174.74], 15);

  L.marker([-36.85, 174.74]).addTo(map);

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);
</script>
